.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}

.modal-container {
  width: 30vw;
  height: auto;
  background-color: var(--light);
  padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.modal-container--close {
  position: absolute;
  top: -15px;
  right: -20px;
  background: transparent;
  border: none;
}

.modal-container--close img {
  width: 2rem;
  transition: all 0.3s;
}

.modal-container--close img:hover {
  transform: scale(1.1);
}

.modal-container--icon {
  width: 2.5rem;
  display: block;
  margin: 1rem auto 2rem;
}

.modal-header {
  position: relative;
  /* border-bottom: 3px solid var(--tertiary); */
}

.modal-header--icon {
  width: 2.5rem;
  display: block;
  margin: 1rem auto 2rem;
}

.modal-header--separator {
  margin-bottom: 2rem;
  height: 3px;
  border: none;
  background-color: var(--tertiary);
}

.modal-header--title {
  text-align: center;
  color: var(--tertiary);
}

.modal-main--msg {
  text-align: center;
}

.modal-footer--separator {
  margin-top: 2rem;
  height: 0.5px;
  border: none;
  background-color: var(--primary);
}

.modal-footer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.modal-footer--btn1,
.modal-footer--btn2 {
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--primary);
  font-weight: 600;
}

.modal-footer--btn1:hover,
.modal-footer--btn2:hover {
  background-color: var(--primary);
  color: var(--light);
}

.disabled,
.disabled:hover {
  border: 1px solid  var(--diabled-text);
  background-color: var(--disabled);
  color: var(--diabled-text);
  cursor: not-allowed;
}

.hide {
  display: none;
}