.table {
  width: 90%;
  margin: auto;
}

/* HEADER */
/* FILTER OPTIONS */
.table-header {
  display: flex;
  align-items: center;
}
.table-header > * {
  flex: 1 1 0;
}

.table-header--entries select {
  cursor: pointer;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--primary);
  color: var(--primary);
  font-size: small;
}

.table-header--search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.table-header--search img {
  width: 16px;
  height: 16px;
  margin-right: 0.25rem;
}

.table-header--search input {
  margin-left: 0.5rem;
  padding: 0.25rem;
  border: 1px solid var(--primary);
  border-radius: 0.25rem;
}

/* MAIN  */
/* EMPLOYEES LIST TABLE */
.table-main--list {
  /* width: 100%; */
  max-width: 700px;
    overflow-x: auto;
  margin: 2rem auto;
  border-collapse: separate;
  border-radius: 0.5rem;
  background-color: transparent;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 0px 2.5rem 0.5px !important;
}

.table-main--list thead :nth-child(1) button {
  display: none;
}

.table-main--list thead :nth-child(2) :first-child {
  padding-right: 0;
}

.table-main--list thead :nth-child(2) > * {
  position: relative;
  padding-right: 0.75rem;
  font-family: 'Open Sans Condensed';
  color: var(--tertiary);
}

.table-main--arrowUp {
  background-color: transparent;
  position: absolute !important;
  bottom: 8px;
  padding: 0 !important;
  color: var(--tertiary);
}

.table-main--arrowDown {
  background-color: transparent;
  position: absolute !important;
  top: 12px;
  padding: 0 !important;
  color: var(--tertiary);
}

.table-main--arrowUp:focus,
.table-main--arrowDown:active,
.table-main--arrowUp:focus,
.table-main--arrowDown:active {
  box-shadow: none !important;
  color: var(--light) !important;
}

.table-main--list thead :first-child :first-child {
  border-top-left-radius: 0.5rem;
}

.table-main--list thead :first-child :last-child {
  border-top-right-radius: 0.5rem;
}

.table-main--list th {
  padding: 0.25rem;
  /* background-color: var(--dark); */
  background-color: var(--primary);
  color: var(--light);
}

.table-main--list tbody :last-child :first-child {
  border-bottom-left-radius: 0.5rem;
}

.table-main--list tbody :last-child :last-child {
  border-bottom-right-radius: 0.5rem;
}

.table-main--list input {
  /* .table-main--edit { */
  width: fit-content;
  border: none;
  background: transparent;
  padding: 0.25rem 0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 100;
  color: var(--primary);
}

/* Id input */
.table-main--list tbody tr :nth-child(1) input {
  width: 1.5rem;
  display: flex;
  margin-right: -0.5em;
  text-align: right;
}

/* Birth Date input */
.table-main--list tbody tr :nth-child(4) input,
/* State input */
.table-main--list tbody tr :nth-child(7) input,
/* Zip Code */
.table-main--list tbody tr :nth-child(8) input,
/* Start Date input */
.table-main--list tbody tr :nth-child(9) input,
.table-main--list tbody tr :nth-child(10) input {
  text-align: center;
  display: flex;
  margin: auto;
}

/* First Name input */
.table-main--list tbody tr :nth-child(2) input,
/* Last Name input */
.table-main--list tbody tr :nth-child(3) input,
/* Birth Date input */
.table-main--list tbody tr :nth-child(4) input,
/* Start Date input */
.table-main--list tbody tr :nth-child(9) input {
  width: 5rem;
}

/* Street input */
.table-main--list tbody tr :nth-child(5) input {
  width: 11rem;
}

/* City input */
.table-main--list tbody tr :nth-child(6) input {
  width: 6.4rem;
}

/* State input */
.table-main--list tbody tr :nth-child(7) input {
  width: 3.3rem;
}

/* Zip Code */
.table-main--list tbody tr :nth-child(8) input {
  width: 4rem;
}

/* Department */
.table-main--list tbody tr :nth-child(10) input {
  width: 2.5rem;
}

.table-main--list tr:nth-child(even) {
  background-color: var(--disabled);
}

.table-main--list tr:hover,
.table-main--list tr:focus {
  background-color: var(--tertiary);
}

/* FOOTER */
/* TABLE NAVIGATION */
.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.table-footer--pageIndex {
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: var(--primary);
}

.table-nav--btn {
  cursor: pointer;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--tertiary);
  border-radius: 0.25rem;
  border: 1px solid var(--primary);
  color: var(--dark);
  line-height: 1.25rem;
}

.table-nav--btn:hover {
  background-color: var(--tertiary-constrast);
}

.table-nav--btn:disabled {
  background-color: var(--disabled);
}
